*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first-section{
  background-image: url(nature.jpg);
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading{
  color: white;
  background-color: #424242;
  padding: 10px 60px;
  font-size: 40px;
  font-weight: 400;
}

/* .first-section .second-section .third-section{

} */

.section-one{
  background-color: white;
  color: #666;
  background-color: #f4f4f4;
}

.section-one-heading{
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 10px 10px;
}

.paragraph{
  text-align: justify;
  padding: 10px 20px;
  line-height: 1.5em;
}

.second-section{
  background-image: url(nature1.jpg);
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  background-attachment: fixed;
}

.second-section-heading{
  color: white;
  background-color:rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 500;
  padding: 20px 60px;
}

.section-two{
  color: white;
  background-color: #424242;
}

.third-section{
  background-image: url(nature2.jpg);
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  background-attachment: fixed;
}

.third-section-heading{
  color: white;
  background-color:rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 500;
  padding: 20px 60px;
}